/* Used to store common colors for color scheme */

body {
    display: flex;
    flex-direction: column;
    background-color:rgb(19, 6, 93);
  }

/* Header elements */
header {
  margin-top: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color:rgb(75, 75, 244);
  color: black;
}

header a {
  color: black;
}

nav {
  display: flex;
  margin: 30px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 30px;
  display: flex;
  margin: 0 20px;
}

nav ul li a {
  padding: 0 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  display: flex;
  flex: 0 1;
}

/* Classes for managing images within the 'Work' section. */
.image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img{
  max-width: 90%;
  border-radius: 30px;
  padding-bottom: 20px;
}

/* Adjust heading fonts */
h1 {
  font-size: 60px;
  margin: 0 1%;
  display: flex;
}

h2 {
  font-size: 60px;
  padding-left: 40px;
}
  
h3 {
  font-size: 35px;
  padding-left: 15px;
  color: black;
}

li {
  list-style-type: none;
}

footer {
  background-color:blue;
}

/* Alter formatting of all sections */
section {
  border-radius: 15px;
}

/* 'About Me' Section */
#about_me h2 {
  margin-top: 15px;
  padding-top: 15px;
}

#about_me {
  background-color:rgb(17, 216, 242);
}

#about_me p {
  font-size: 22px;
  padding: 0 20px;
  padding-bottom: 15px;
}

/* 'Work' Section */
#work {
  background-color:rgb(48, 197, 68);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* 'Contact Me' Section */
#contact_me {
  background-color:lightgreen;
  display: flex;
  flex-grow: 1;
  justify-content: left;
  align-items: center;
}

#contact_me a {
  font-weight: bold;
  font-size: 28px;
  color: black;
  padding: 0 25px;
}

#contact_me p {
  font-weight: bold;
  font-size: 28px;
  color: black;
  padding: 0 25px;
}

/* Format largest display card */
.card_primary{
  color: white;
  border-radius: 15px;
  background-color:green;
  width: 100%;
  margin: 20px;
}
.card_primary p {
  padding-left: 20px;
  font-size: 25px;
}

/* Format other display cards */
.card {
  text-decoration: none;
  color: black;
  border-radius: 15px;
  background-color:purple;
  flex: 1 1 40%;
  margin: 20px;
}

.card p{
  padding-left: 20px;
  font-size: 25px;
}

.card_description {

}

/* Hover Effects */

.card_primary:hover,
.card:hover {
  box-shadow: inset 0px 0px 8px orange, 0 0 15px orange;
}

/* Screen size handling */
