body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
  }
  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Change font size of headings */


  


  /* Boxes for project links */
  .card {

  }